body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #4a250cab;
  font-family: 'Kantumruy Pro', sans-serif;
}

h1 {
  color: white;
  font-size: 20px;
}

input {
  padding: 8px;
  border-radius: 2px;
  margin:5px;
}

img {
  height: 200px;
}

button {
  border: 1px solid black;
  background-color: #cc4949;
  color: white;
  padding: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #ff4b4b;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.moviesAndImages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.movieListContainer {
  padding: 20px;
}

.imageContainer {
  padding: 20px;
}

